@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-bg: #27292a;
  --secondary-bg: #1f1f1f;
  --primary-text: #fffcf2;
  --secondary-text: #ccc5b9;
  --accent-color: #d73742;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

/* scrollbar settings */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(147, 158, 174, 0.5);
  border-radius: 20px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-bg);
}
/* //////////////////////// */
