.LandingPageContainer {
  background-color: var(--primary-bg);
  height: 100vh;
}

.WelcomeMessageContainer h2 {
  color: var(--accent-color);
}

.WelcomeMessageContainer h1 {
  color: var(--primary-text);
}

.WelcomeMessageContainer h3 {
  color: var(--secondary-text);
}

.WelcomeMessageContainer ul {
    color: var(--secondary-text);
}

.WelcomeMessageContainer span {
  color: var(--accent-color);
}
