.ProjectsPageContainer {
  background-color: var(--secondary-bg);
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectsPageContainer h1 {
  margin-top: 1.75rem;
  color: var(--primary-text);
  display: inline-block;
}

.ProjectsPageContainer h1:after {
  content: "";
  position: relative;
  margin-top: 1.375rem;
  margin-bottom: 3rem;
  left: 25%;
  display: block;
  height: 0.188rem;
  width: 3.75rem;
  background-color: var(--accent-color);
}

.ProjectsContainer {
  min-width: 26.25rem;
  width: 78vw;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.Project {
  border-radius: 0.313rem;
}

.Project img {
  height: 17rem;
  width: 26.25rem;
  border-radius: 0.313rem 0.313rem 0 0;
}

.Project h2 {
  color: var(--accent-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.688rem;
}

.Project h3 {
  color: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.125rem;
}

.Project p {
  color: var(--primary-text);
  margin-bottom: 2.25rem;
}

.Project h3 span {
  font-size: 1rem;
  font-weight: 400;
}

.Project {
  width: 26.25rem;
  height: 40.625rem;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
}

.ProjectContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 21.125rem;
  margin-top: 1.25rem;
}

.ProjectButtons {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}

.ProjectButtons a {
  color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 4.75rem;
  height: 2.75rem;
  font-size: 1.25rem;
  text-decoration: none;
  background-color: var(--accent-color);
}

.Reveal {
  position: relative;
  transform: translateY(10vh);
  opacity: 0;
  transition: all 1s ease;
}

.ProjectsContainer .Active {
  transform: translateY(0);
  opacity: 1;
}

.DemoBtn {
  background-color: var(--secondary-bg) !important;
  color: var(--primary-text) !important;
}

@media (max-width: 1780px) {
  .ProjectsContainer {
    justify-content: center;
  }
}
