.SocialsBarContainer {
  position: fixed;
  transform: rotate(-90deg);
  bottom: 12rem;
  left: 1.5rem;
}

.SocialIcons {
  display: flex;
  gap: 1.5rem;
}

.SocialIcons::before {
  content: "";
  display: block;
  width: 8rem;
  height: 2px;
  position: absolute;
  left: -9rem;
  top: 42%;
  background-color: var(--secondary-text);
}

.SocialIcons a {
  transform: rotate(90deg);
}
